@{
    ViewData["Title"] = "Home Page";
}
    <div>
        <form id="Show" asp-action="ShowEmployees" asp-controller="Home" data-ajax-method="GET" data-ajax="true" data-ajax-update="#mainEmployees">
            <label>Сортировки</label>
            <div>
                <div class="sort_buttons">
                    <p><input name="sort" type="radio" value="true" checked> А-Я</p>
                    <p><input name="sort" type="radio" value="false"> Я-А</p>
                </div>
                <div class="sort_buttons">
                    <p><input name="column" type="radio" value="true" checked> По ФИО</p>
                    <p><input name="column" type="radio" value="false"> По отделу</p>
                </div>
            </div>
            <div>
                <label for="pageNumber">Страница</label>
                <input id="pageNumber" type="number" name="page" value=1 min=1 max=1 />
                <label for="countSelected">Количество на страницу</label>
                <select id="countSelected" name="selected">
                    <option value=5>5</option>
                    <option value=10>10</option>
                    <option value=50 selected>50</option>
                </select>
            </div>
        </form>
        <form asp-action="AddDepartment" asp-controller="Home" data-ajax-method="POST" data-ajax="true" data-ajax-update="#resultOf">
            <input type="text" name="departmentName" required />
            <button type="submit" class="btn btn-danger" onclick="ShowSuccess()">Добавить отдел</button>
        </form>
        <button id="addButton" class="btn btn-primary" type="submit">Добавить сотрудника</button>
        <div id="mainEmployees"></div>
        <div id="modal" class="message-wrapper" style="display:none">
            <div id="resultOf" class="message">

            </div>
        </div>
    </div>
